<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        a{
            display: block;
        }
    </style>
</head>
<body>
    <h2>Welcome</h2>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</body>
</html>